<h1>Product/Auction Details</h1>

<p>Product Name : <input [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" type="text" required>
    Description : <input [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text">
    <button (click)="addProduct()">Add product</button></p>

<p><button (click)="getProduct()">Get Products</button></p>
<div *ngFor = "let product of prodList">
    <p *ngIf = 'product.productId'>{{product.productId}}</p>
    <p *ngIf = 'product.productName'>{{product.productName}}</p>
    <p *ngIf = 'product.description'>{{product.description}}</p>
</div>

<p><button (click)="saveAuction()">Save Auction</button></p>