<h1>Product/Auction Details</h1>

<p>Product Name : <input [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" type="text" required>
    Description : <input [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text">
    <button (click)="addProduct()">Add product</button></p>

<p>Click to get the Product List <button (click)="getProduct()">Get Products</button></p>
<div *ngFor = "let product of prodList">
    <p *ngIf = 'product.productId'>Product Id : {{product.productId}}</p>
    <p *ngIf = 'product.productName'>Product Name : {{product.productName}}</p>
    <p *ngIf = 'product.description'>Product Description : {{product.description}}</p>
</div>

<p> Minimum Price : <input [(ngModel)]="minPrice" [ngModelOptions]="{standalone: true}" type="text" required>
    Minimum Increment : <input [(ngModel)]="minIncrement" [ngModelOptions]="{standalone: true}" type="text" required> </p>
<p> Status : <input [(ngModel)]="status" [ngModelOptions]="{standalone: true}" type="text" required>
    Product Id : <input [(ngModel)]="productId" [ngModelOptions]="{standalone: true}" type="text" required> </p>
<p> Auction Start DateTime : <input [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" type="text" required>
    Auction End DateTime : <input [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" type="text" required> </p>
    <p><button (click)="saveAuction()">Save your Product Auction</button></p>

    <p><button (click)="result()">Check Auction Winner</button></p>